@import "tailwindcss";

:root {
  --background: #18312e;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: Fraunces;
}
.btn{
  background-color: #eea557;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 12px;
  padding: 5px 20px;
}
.gur h1 {
    color: #fff;
    text-align: center;
    padding-top: 350px;
    font-family: Herr Von Muellerhoff, cursive;
    font-size: 115px;
    font-weight: 550;
    line-height: 0.8;
}
.gur h4 {
    padding: 15px 40px;
    width: 40%;
}
/* about */
.about p {
    width: 54%;
    font-size: 16px;
    padding: 20px 0px;
}
.about h2{
    color: #eea557;
    font-size: 32px;
    line-height: 42px;
    width: 70%;
}
.about {
    padding-top: 100px;
    padding-left: 100px;
    width: 60%;
}
.gur h2 {
    text-align: center;
    font-family: Herr Von Muellerhoff, cursive;
    font-size: 280px;
    position: absolute;
    top: 150;
}
.gur video {
    opacity: 0.6 !important;
}
 .tst-scroll-btn {
    z-index: 20;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 177, 95);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 141px;
    display: flex;
    position: absolute;
    bottom: 200px;
    right: 52px;
    overflow: hidden;
}

.tst-scroll-btn svg {
  position: absolute;
  transform: rotate(-90deg);
  animation: rotateText 12s linear infinite;
}
.bg-angle-center {
    position: absolute;
    bottom: 0px;
    right: 40%;
}
.text-path {
  font-size: 22px;
  font-weight: 600;
  fill: #e6b15f;  /* text color */
  letter-spacing: 5px;
  text-transform: uppercase;
}

@keyframes rotateText {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.tst-scroll-btn-icon img {
  width: 55px;
  height: 55px;
  z-index: 5;
}
.amenities-section {
  text-align: center;
  padding: 60px 0;
  background: #18312e;
  color: #fff;
}
.subtitle {
  font-size: 14px;
  color: #e6b15f;
  margin-bottom: 8px;
  letter-spacing: 2px;
}
.title {
  font-size: 30px;
  margin-bottom: 40px;
  color: #ffae4c;
  font-weight: 700;
}
.amenities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: auto;
}
.amenity-card {
    text-align: center;
    background: #304643;
    border-radius: 8px;
    padding: 30px 22px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.amenity-icon {
  width: 55px;
  margin-bottom: 15px;
}
.amenity-title {
  font-size: 18px;
  margin: 10px 0;
  color: #ffb251;
  font-weight: 600;
}
.service h3{
 font-family: Herr Von Muellerhoff, cursive;
 font-size: 32px;
 font-weight: 200;
}
.service p{
  font-size: 18px;
  font-weight: 200;
  font-family: Fraunces;
  line-height: 25px;
}
.view-btn {
  margin-top: 30px;
  background: #e6b15f;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.card {
  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 120%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.25), transparent);
  transform: skewX(-20deg);
  transition: all 0.6s ease;
}

.card:hover::before {
  left: 150%;
}
.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: auto;
  padding: 10px 28px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  background-color: #eea557;
  color: #000;
  border: 1px solid #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}
 
.btn:hover {
  color: #000;
}
 
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  background: #fff;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s ease;
}
 
.btn:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}
/* responsive */
@media (max-width: 768px) {
  .amenities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .amenities-grid {
    grid-template-columns: 1fr;
  }
}
