@import "tailwindcss";

:root {
  --background: #18312e;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: Fraunces;
}
.btn{
  background-color: #eea557;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 12px;
  padding: 5px 20px;
}
.gur h1 {
    color: #fff;
    font-size: 120px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.gur h4 {
    padding: 15px 40px;
    width: 40%;
}
/* about */
.about p {
    width: 54%;
    font-size: 16px;
    padding: 20px 0px;
}
.about h2{
    color: #eea557;
    font-size: 32px;
    line-height: 42px;
    width: 70%;
}
.about {
    padding-top: 100px;
    padding-left: 100px;
    width: 60%;
}
.gur h2 {
    text-align: center;
    font-family: Herr Von Muellerhoff, cursive;
    font-size: 280px;
    position: absolute;
    top: 150;
}
.gur video {
    opacity: 1.1 !important;
}
 .tst-scroll-btn {
    z-index: 20;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 177, 95);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 141px;
    display: flex;
    position: absolute;
    bottom: 200px;
    right: 52px;
    overflow: hidden;
}

.tst-scroll-btn svg {
  position: absolute;
  transform: rotate(-90deg);
  animation: rotateText 12s linear infinite;
}
.bg-angle-center {
    position: absolute;
    bottom: 0px;
    right: 40%;
}
.text-path {
  font-size: 22px;
  font-weight: 600;
  fill: #e6b15f;  /* text color */
  letter-spacing: 5px;
  text-transform: uppercase;
}

@keyframes rotateText {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.tst-scroll-btn-icon img {
  width: 55px;
  height: 55px;
  z-index: 5;
}
